{% extends 'index/master.html' %}
{% load static %}
{% load i18n %}
 {% load l10n %}
    {% load humanize %}
{% block title %} Bosh sahifa{% endblock %}
{#{% block title %} Янги Шартномалар {% endblock %}#}
{% block stylecontent %}


{% endblock stylecontent %}

{% block content%}
        <!-- our features -->
        <div class="our-features-box hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <div class="feature-box first"> <i class="icon-plane icons"></i>
                            <div class="content">
                                <h3>Tekin & Teskor yetkazib berish</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <div class="feature-box"> <i class="icon-earphones-alt icons"></i>
                            <div class="content">
                                <h3>Tezkor aloqa 24/7 mijozlar uchun</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <div class="feature-box"> <i class="icon-like icons"></i>
                            <div class="content">
                                <h3>100% Kafolat</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <div class="feature-box last"> <i class="icon-tag icons"></i>
                            <div class="content">
                                <h3>Ajoyib kunlik chegirmalar</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JTV Home Slider -->
        <div class="jtv-slideshow">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-push-3 col-sm-12">
                        <div id='jtv-rev_slider_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                            <div id='jtv-rev_slider' class='rev_slider fullwidthabanner'>
                                <ul>
                                    <li data-transition='fade' data-slotamount='7' data-masterspeed='1000' data-thumb='{% static 'site/images/extra/1.jpg' %}'><img src="{% static 'site/images/extra/6.jpg' %}" alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                                        <div class="info">
                                            <div class='tp-caption jtv-sub-title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;font-size: 14px'><span class="text-info bg-primary" style="padding: 2px">Maktab o'quvchilari uchun</span> </div>
                                            <div class='tp-caption jtv-large-title sfl  tp-resizeme' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'><span style="padding: 5px" class="bg-primary text-info">To'plamlar</span> </div>
                                            <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#' class="jtv-shop-now-btn" style="background-color: #00b9f5">Batafsil</a> </div>
                                        </div>
                                    </li>
                                    <li data-transition='fade' data-slotamount='7' data-masterspeed='1000' data-thumb='{% static 'site/images/extra/2.jpg' %}'><img src="{% static 'site/images/extra/2.jpg' %}" alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                                        <div class="info">
                                            <div class='tp-caption jtv-sub-title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;font-size: 14px'><span class="text-info bg-primary" style="padding: 2px">Eng ko'p sotilayotganlar</span> </div>
                                            <div class='tp-caption jtv-large-title sfl  tp-resizeme' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'><span style="padding: 5px" class="bg-primary text-info">Trendagilar</span> </div>
                                            <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#' class="jtv-shop-now-btn" style="background-color: #00b9f5">Batafsil</a> </div>
                                        </div>
                                    </li>
                                    <li data-transition='fade' data-slotamount='7' data-masterspeed='1000' data-thumb='{% static 'site/images/extra/4.jpg' %}'><img src="{% static 'site/images/extra/4.jpg' %}" alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                                        <div class="info">
                                            <div class='tp-caption jtv-sub-title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;font-size: 14px'><span class="text-info bg-primary" style="padding: 2px">Chegirma narxda sotilayotganalar</span> </div>
                                            <div class='tp-caption jtv-large-title sfl  tp-resizeme' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'><span style="padding: 5px" class="bg-primary text-info">Chegirmalar</span> </div>
                                            <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#' class="jtv-shop-now-btn" style="background-color: #00b9f5">Batafsil</a> </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end JTV Home Slider -->

                    <!-- hot deal products -->
                    <div class="col-md-3 hot-deal col-md-pull-9 col-sm-5">
                        <div class="slider-items-products">
                            <div id="hot-deal-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col4">
                                    {% for product in products_new %}
                                        <div class="item" >
                                        <div class="item-inner" >
                                            <div class="item-img" >
                                                <div class="item-img-info">
                                                    <a href="#" title="Product Title Here" class="product-image"> <img src="/{{ product.foto }}" class="img-fluid" style="height: 270px" alt="Product Title Here"></a>
                                                    <div class="hot-label hot-top-left">35% chegirma</div>
                                                    <div class="jtv-box-hover">
                                                        <ul class="add-to-links">
                                                            <li><a class="link-quickview" href="#"><i class="icon-magnifier-add icons"></i><span class="hidden">Quick View</span></a></li>
                                                            <li><a class="link-wishlist" href="#"><i class="icon-heart icons"></i><span class="hidden">Wishlist</span></a></li>
                                                            <li><a class="link-compare" href="{% url 'show_product' id=product.id %}"><i class="fa fa-eye"></i><span class="hidden">Compare</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item-info">
                                                <div class="info-inner" >
                                                    <div class="item-title"> <a href="{% url 'show_product' id=product.id %}" title="Product Title Here">
                                                        {{ product.name }}</a></div>
                                                    <div class="item-content">
                                                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <del class="price">{{ product.cost_sell|intcomma}} so'm</del>
                                                                <span class="regular-price"> <span class="price">{{ product.cost_discount|intcomma }} so'm</span> </span>
                                                            </div>
                                                        </div>
                                                        <div class="action">
                                                            <button data-original-title="Add to Cart" title="" type="button" class="button btn-cart add-card" product-id="{{ product.id }}"><span>Savatga qo'shish</span> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="jtv-box-timer">
                                                    <div class="countbox_1 timer-grid"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jtv-top-banner">
            <div class="container">
                <div class="category-product">
                    <div class="navbar nav-menu">
                        <div class="navbar-collapse">
                            <div class="jtv-title">
                                <h2>Maktab o'quvchilari uchun to'plamlar</h2>
                                <br>
                            </div>

                            <div class="row products-grid" id="1-term">
                                <div class="col-md-4 item">
                                    <div class="content item-inner" style="border-radius: 15px">
                                        <div class="new-label new-top-right">new</div>
                                        <a href="{% url 'set_by_class' id=1 %}" >
                                            <div class="content-overlay"></div>
                                            <div>
                                                <img class="content-image " src="{% static 'site/images/extra/6.jpg' %}" style="height: 250px;width: 100%;">
                                            </div>
                                            <div class="content-details fadeIn-top">
                                                <h3>1-SINF</h3>
                                                <p style="font-size: 15px">Tayyor to'plamlar tezkor sotib oling</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 item">
                                    <div class="content item-inner" style="border-radius: 15px">
                                        <div class="new-label new-top-right">new</div>
                                        <a href="{% url 'set_by_class' id=2 %}" target="_blank">
                                            <div class="content-overlay"></div>

                                            <img class="content-image" src="{% static 'site/images/extra/4.jpg' %}" style="height: 250px;width: 100%;">
                                            <div class="content-details fadeIn-top">
                                                <h3>2-SINF</h3>
                                                <p style="font-size: 15px">Tayyor to'plamlar tezkor sotib oling</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 item">
                                    <div class="content item-inner" style="border-radius: 15px">
                                        <div class="new-label new-top-right">new</div>
                                        <a href="{% url 'set_by_class' id=3 %}" target="_blank">
                                            <div class="content-overlay"></div>
                                            <img class="content-image" src="{% static 'site/images/extra/2.jpg' %}" style="height: 250px;width: 100%;">
                                            <div class="content-details fadeIn-top">
                                                <h3>3-SINF</h3>
                                                <p style="font-size: 15px">Tayyor to'plamlar tezkor sotib oling</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <button class="btn btn-primary" style="float: right"><a href="{% url 'sets' %}" style="color:whitesmoke;;"><i class="fa fa-search-plus"></i> Ko'proq ko'rish</a></button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <section class="jtv-bestsell-section1">
            <div class="container">

            </div>
        </section>

        <section class="jtv-bestsell-section">
            <div class="container">
                <div class="slider-items-products">
                    <div class="bestsell-block">
                        <div class="jtv-block-inner">
                            <div class="block-title">
                                <h2>Eng ko'p sotilgan mahsulotlar</h2>
                            </div>
                        </div>

                        <div id="bestsell-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4 products-grid block-content">
                                {% for product in most_saled %}
                                    <div class="item " >
                                    <div class="item-inner" style="border-radius: 15px">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a class="product-image" title="Product Title Here" ref="single_product.html ">
                                                    <img alt="Product Title Here " src="/{{ product.foto }}" style="height: 270px">
                                                </a>
                                                <div class="new-label new-top-left "><b style="font-size: 13px"><i class="fa fa-star-half-o"></i></b></div>
                                                <div class="jtv-box-hover">
                                                    <ul class="add-to-links">
                                                        <li><a class="link-quickview" href="#"><i class="icon-magnifier-add icons"></i><span class="hidden">Quick View</span></a></li>
                                                        <li><a class="link-wishlist" href="#"><i class="icon-heart icons"></i><span class="hidden">Wishlist</span></a></li>
                                                        <li><a class="link-compare" href="{% url 'show_product' id=product.id %}"><i class="fa fa-eye"></i><span class="hidden">Show</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"> <a title="Product Title Here" ref="single_product.html">
                                                    {{ product.name}} </a> </div>
                                                <div class="item-content">
                                                    <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                    <div class="item-price">
                                                       <div class="price-box">
                                                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> {{product.cost_sell|intcomma}} so'm</span> </p>
                                                             <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> {{product.cost_discount|intcomma}} so'm</span> </p>
                                                       </div>
                                                    </div>
                                                    <div class="action">
                                                        <button class="button btn-cart add-card" product-id="{{ product.id }}" type="button" title="" data-original-title="Add to Cart"><span>Savatga qo'shish</span> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <div class="jtv-bottom-banner-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4" >
                        <div class="jtv-img-box" style="border-radius: 15px">
                            <a href="#"> <img src="{% static 'site/images/extra/bags/6.jpg' %}" style="width: 100%;height: 240px" alt="bottom banner">
                                <div class="jtv-banner-info"> <span class=""><b>Istalgan turdaki ruchkalar</b> </span>
                                    <h3 style="color: red"><b class="bg-danger">Ruchkalar olami</b></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="jtv-img-box" style="border-radius: 15px">
                            <a href="#"> <img src="{% static 'site/images/extra/bags/5.jpg' %}" style="width: 100%;height: 240px" alt="bottom banner">
                                 <div class="jtv-banner-info"> <span><b>Istalgan turdaki qalamlar</b> </span>
                                    <h3 style="color: red"><b class="bg-danger">Qalamlar olami</b></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="jtv-img-box" style="border-radius: 15px">
                            <a href="#"> <img src="{% static 'site/images/extra/bags/3.jpg' %}" style="width: 100%;height: 240px" alt="bottom banner">
                                 <div class="jtv-banner-info"> <span><b>Istalgan turdaki daftarlar</b> </span>
                                    <h3 style="color: red"><b class="bg-danger">Daftarlar olami</b></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <section class="jtv-bestsell-section">
            <div class="container">
                <div class="slider-items-products">
                    <div class="bestsell-block">
                        <div class="jtv-block-inner">
                            <div class="block-title">
                                <h2>Eng ko'p ko'rilganlar</h2>
                            </div>
                        </div>
                        <hr>
                        <div id="bestsell-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4 products-grid block-content">

                                {% for product in products_most_showed %}
                                    <div class="item">
                                    <div class="item-inner" style="border-radius: 15px">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a class="product-image" title="Product Title Here" ref="single_product.html ">
                                                    <img alt="Product Title Here " src="/{{ product.foto }}" style="height: 270px">
                                                </a>
                                                <div class="new-label new-top-left "><b style="font-size: 13px"><i class="fa fa-star-half-o"></i></b></div>
                                                <div class="jtv-box-hover">
                                                    <ul class="add-to-links">
                                                        <li><a class="link-quickview" href="quick_view.html"><i class="icon-magnifier-add icons"></i><span class="hidden">Quick View</span></a></li>
                                                        <li><a class="link-wishlist" href="wishlist.html"><i class="icon-heart icons"></i><span class="hidden">Wishlist</span></a></li>
                                                        <li><a class="link-compare" href="{% url 'show_product' id=product.id %}"><i class="fa fa-eye"></i><span class="hidden">Show</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"> <a title="Product Title Here" ref="single_product.html">
                                                    {{ product.name}} </a> </div>
                                                <div class="item-content">
                                                    <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                    <div class="item-price">
                                                       <div class="price-box">
                                                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> {{product.cost_sell|intcomma}} so'm</span> </p>
                                                             <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> {{product.cost_discount|intcomma}} so'm</span> </p>
                                                       </div>
                                                    </div>
                                                    <div class="action">
                                                        <button class="button btn-cart add-card" product-id="{{ product.id }}" type="button" title="" data-original-title="Add to Cart"><span>Savatga qo'shish</span> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
            <div class="jtv-bottom-banner-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="jtv-img-box" style="border-radius: 15px">
                            <a href="#"> <img src="{% static 'site/images/extra/bags/2.jpg' %}" style="width: 100%;height: 240px" alt="bottom banner">
                                <div class="jtv-banner-info"> <span class=""><b>Istalgan turdaki so'mkalar</b> </span>
                                    <h3 style="color: red"><b class="bg-danger">So'mkalar olami</b></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="jtv-img-box" style="border-radius: 15px">
                            <a href="#"> <img src="{% static 'site/images/extra/bags/6.png' %}" style="width: 100%;height: 240px" alt="bottom banner">
                                <div class="jtv-banner-info"> <span class=""><b>Matematik to'plamlar</b> </span>
                                    <h3 style="color: red"><b class="bg-danger">Xisob kitob qurollari</b></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="jtv-img-box" style="border-radius: 15px">
                            <a href="#"> <img src="{% static 'site/images/extra/bags/2.jpeg' %}" style="width: 100%;height: 240px" alt="bottom banner">
                                <div class="jtv-banner-info"> <span class=""><b>Istalgan turdaki komputerlar uchun so'mkalar</b> </span>
                                    <h3 style="color: red"><b class="bg-danger">Komputer so'mkalari</b></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <section class="jtv-bestsell-section">
            <div class="container">
                <div class="slider-items-products">
                    <div class="bestsell-block">
                        <div class="jtv-block-inner">
                            <div class="block-title">
                                <h2>Yangi maxsulotlar</h2>
                            </div>
                        </div>

                        <div id="bestsell-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4 products-grid block-content">
                                {% for product in products_new %}
                                    <div class="item">
                                    <div class="item-inner" style="border-radius: 15px">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a class="product-image" title="Product Title Here" ref="single_product.html ">
                                                    <img alt="Product Title Here " src="/{{ product.foto }}" style="height: 270px">
                                                </a>
                                                <div class="new-label new-top-left" style="background-color: red"><b style="font-size: 13px">Yangi</b></div>
                                                <div class="jtv-box-hover">
                                                    <ul class="add-to-links">
                                                        <li><a class="link-quickview" href="#"><i class="icon-magnifier-add icons"></i><span class="hidden">Quick View</span></a></li>
                                                        <li><a class="link-wishlist" href="#"><i class="icon-heart icons"></i><span class="hidden">Wishlist</span></a></li>
                                                        <li><a class="link-compare" href="{% url 'show_product' id=product.id %}"><i class="fa fa-eye"></i><span class="hidden">Compare</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"> <a title="Product Title Here" ref="single_product.html">
                                                    {{ product.name}} </a> </div>
                                                <div class="item-content">
                                                    <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                    <div class="item-price">
                                                       <div class="price-box">
                                                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> {{product.cost_sell|intcomma}} so'm</span> </p>
                                                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> {{product.cost_discount|intcomma}} so'm</span> </p>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <button class="button btn-cart add-card" product-id="{{ product.id }}" type="button" title="" data-original-title="Add to Cart"><span>Savatga qo'shish</span> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <!-- Special Product slider -->

{% csrf_token %}
    <!-- Latest Blog -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-outer-container">
                    <div class="jtv-title">
                        <h2>Yangiliklar</h2>
                    </div>
                    <div class="blog-inner">
                        <div class="col-sm-4">
                            <div class="entry-thumb">
                                <a href="blog_single_post.html"> <img alt="Blog" src="{% static 'site/images/blog-img1.jpg' %}"> </a>
                            </div>
                            <div class="blog-preview_info">
                                <h3><a href="blog_single_post.html">Winter Morning ShopMart</a></h3>
                                <ul class="post-meta">
                                    <li><i class="fa fa-user"></i><a href="#">admin</a> </li>
                                    <li><i class="fa fa-comments"></i><a href="#">12 comments</a> </li>
                                    <li><i class="fa fa-calendar"></i>2017-02-25</li>
                                </ul>
                                <div class="blog-preview_desc">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor.</div>
                                <a class="blog-preview_btn" href="blog_single_post.html">Batafsil <i class="fa fa-long-arrow-right"></i></a> </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="entry-thumb">
                                <a href="blog_single_post.html"> <img alt="Blog" src="{% static 'site/images/blog-img2.jpg' %}"> </a>
                            </div>
                            <div class="blog-preview_info">
                                <h3><a href="blog_single_post.html">Perfect for promoting</a></h3>
                                <ul class="post-meta">
                                    <li><i class="fa fa-user"></i><a href="#">admin</a> </li>
                                    <li><i class="fa fa-comments"></i><a href="#">45 comments</a> </li>
                                    <li><i class="fa fa-calendar"></i>2017-04-05</li>
                                </ul>
                                <div class="blog-preview_desc">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor.</div>
                                <a class="blog-preview_btn" href="blog_single_post.html">Barafsil <i class="fa fa-long-arrow-right"></i></a> </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="entry-thumb">
                                <a href="blog_single_post.html"> <img alt="Blog" src="{% static 'site/images/blog-img3.jpg' %}"> </a>
                            </div>
                            <div class="blog-preview_info">
                                <h3><a href="blog_single_post.html">Sed do eiusmod sit amet</a></h3>
                                <ul class="post-meta">
                                    <li><i class="fa fa-user"></i><a href="#">admin</a> </li>
                                    <li><i class="fa fa-comments"></i><a href="#">85 comments</a> </li>
                                    <li><i class="fa fa-calendar"></i>2017-05-05</li>
                                </ul>
                                <div class="blog-preview_desc">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor.</div>
                                <a class="blog-preview_btn" href="blog_single_post.html">Batafsil <i class="fa fa-long-arrow-right"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Latest Blog -->

    <!-- Brand Logo -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{#        <script type="text/javascript">#}
{#         $(".add-card").click(function(event) {#}
{#            let s=0;#}
{#            $('.product_price').each(function(i,obj){#}
{#                let text=$(this).attr('product-price');#}
{#                s += parseInt(text);#}
{#            });#}
{#            $('#order_prize').text(s);#}
{#        });#}
{#        </script>#}

        <script type="text/javascript">
         $(document).ready(function(){
            $('.order_prize').each(function(i,obj){
                let text=$(this).attr('order-costs');
                num=text.split(',');
                let s=0;
                for(let i in num){
                    if(num[i]!='')
                      s += parseInt(num[i]);
                      }
                    $('#order_prize').text(s);
                });

        });
        </script>

{#    <script>#}
{#        $(document).on('click',".add-card",function(){#}
{#            var data = new FormData();#}
{#            data.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);#}
{#            data.append("id", $(this).attr('product-id'));#}
{#            event.preventDefault();#}
{#                  $.ajax({#}
{#                  type: 'POST',#}
{#                  url: '{% url 'add_card' %}',#}
{#                  data: data,#}
{#                  cache: false,#}
{#                  contentType: false,#}
{#                  processData: false,#}
{#                  success: function (result){#}
{#                       $('#alert_save_message').css('display','inline-block');#}
{#                      console.log(result['product']);#}
{#                      text = ``;#}
{##}
{#                        text += `<li class="item first">`;#}
{#                                          text += `<div class="item-inner"> <a class="product-image" title="Product Title Here" ref="#">`;#}
{#                                                text += `<img alt="Product Title Here" src="/`+result['product'][0].foto+`"> </a>`;#}
{#                                                text += `<div class="product-details"><div class="access">`;#}
{#                                                    text += `<a class="jtv-btn-remove" title="Remove This Item" href="#">Remove</a> <a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a> </div>`;#}
{#                                                    text += `<p class="product-name"><a href="#">`+result['product'][0].name+`</a> </p>`;#}
{#                                                    text += `<strong>1</strong> x <span class="price product_price" product-price="`+result['product'][0].cost_discount+`">`+result['product'][0].cost_discount+`</span> </div></div></li>`;#}
{##}
{##}
{#                      $('#cart-sidebar').append(text);#}
{#                      $('.cart_count').html(result['count']);#}
{#                      $('.order_prize').html(result['cost']);#}
{##}
{#                        setTimeout(function () {#}
{#                            $('#alert_save_message').css('display','none');#}
{#                         }, 3000);#}
{#                  },#}
{##}
{#                  error: function(){#}
{#                        alert('Ajax da xatolik !! ');#}
{#                     }#}
{#            });#}
{#        });#}
{##}
{#    </script>#}



{% endblock content %}
