{% extends 'index/master.html' %}
{% load static %}
{% load i18n %}
{% block title %} Savatcha{% endblock %}
{#{% block title %} Янги Шартномалар {% endblock %}#}
{% block stylecontent %}
 {% load l10n %}
    {% load humanize %}

{% endblock stylecontent %}

{% block content%}

  <!-- end nav -->
  <!-- main-container -->
  <div class="main-container col1-layout">
    <div class="main container">
      <div class="row">
        <section class="col-sm-12 col-xs-12">
          <div class="col-main">
            <div class="page-title">
              <h1>Tanlangan mahsulotlar</h1>
            </div>
              <div class="box-border">
                <div class="order-detail-content">
                  <table class="table table-bordered table-responsive jtv-cart-summary">
                    <thead>
                      <tr class="text-center bg-info">
                        <th class="text-center">Mahsulot rasmi</th>
                        <th class="text-center">Ma'lumot</th>
                        <th class="text-center">Soni</th>
                        <th class="text-center">Mahsulot narxi</th>
                        <th class="text-center">Mahsulot chegirma narxi</th>

                        <th class="action">O'chirish</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr class="text-center">
                                <td class="text-center"><a href="#"><img src="/{{ order.product.foto }}" style="width: 100%" alt="Product"></a></td>
                                <td class="text-center"><p class="product-name"><a href="#"> {{ order.product.name }} </a></p></td>
                                <td class="qty">
{#                                    <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="fa fa-minus">&nbsp;</i></button>#}
{#                                      <input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">#}
{#                                      <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="fa fa-plus">&nbsp;</i></button>#}

                                    <input class="form-control input-sm" type="number" value="1" min="1">
{#                                  <a href="#"><i class="fa fa-plus"></i></a> <a href="#"><i class="fa fa-minus"></i></a>#}
                                </td>
                                <td class="text-center"><span class="text-danger">{{ order.product.cost_sell|intcomma }} so'm</span></td>
                                <td class="text-center"><span>{{ order.product.cost_discount|intcomma }} so'm</span></td>
                                <td style="width: 10%" ><a href="{% url 'delete_product_from_store' id=order.product.id %}"><i class="fa fa-trash-o"></i></a></td>
                          </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <td ></td>
                        <td ></td>
                        <td colspan="3" style="font-size: 15px;font-weight: bold"><strong>Umimiy qiymati:</strong></td>
                        <td colspan="2" style="font-size: 15px;font-weight: bold"><strong>{{ cost|intcomma }} so'm</strong></td>
                      </tr>
                    </tfoot>
                  </table>
                  <div class="cart_navigation">
                    <button class="pull-right btn-primary btn-lg" style="width: 20%">Sotib olish</button>
                  </div>
                </div>
              </div>
            </div>
        </section>
      </div>
    </div>
  </div>
  <!--End main-container --> 
  
{% endblock content %}