{% extends 'index/master.html' %}
{% load static %}
{% load i18n %}
{% block title %} Savatcha{% endblock %}
{#{% block title %} Янги Шартномалар {% endblock %}#}
{% block stylecontent %}
 {% load l10n %}
    {% load humanize %}

{% endblock stylecontent %}

{% block content%}

  <!-- end nav -->
  <!-- main-container -->
  <div class="main-container col1-layout">
    <div class="main container">
      <div class="row">
        <section class="col-sm-12 col-xs-12">
          <div class="col-main">
            <div class="page-title">
              <h1>Tanlangan mahsulotlar</h1>
            </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% if messages %}
                                    <ul class="text text-center" style="font-size:18px">
                                        {% for message in messages %}
                                            {% if message.tags == "error"  %}
                                                <div class="alert alert-error text text-danger" style="background-color: #f7d7da">
                                                    <b><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </b> <span>{{ message }}</span>
                                                </div>

                                            {% else %}
                                                <div class="alert alert-success text-success" style="background-color:#d4edda">
                                                     <span class="text text-success">{{ message }}</span>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                        </div>
                    </div>
                </div>


                <div class="card bg-info shadow-lg" style="width: 40%">
                    <div class="heading-counter" style="padding: 10px">Savatchadadagi tavarlar: <span><b>{{ orders.count }} ta</b></span> </div>
                </div>
              <br>

              <div class="box-border">
                <div class="order-detail-content">
                  <table class="table table-bordered table-responsive jtv-cart-summary">
                    <thead>
                      <tr class="text-center bg-info">
                        <th class="text-center">Mahsulot rasmi</th>
                        <th class="text-center">Ma'lumot</th>
                        <th class="text-center">Soni</th>
                        <th class="text-center">Mahsulot narxi</th>
                        <th class="text-center">Mahsulot chegirma narxi</th>

                        <th class="action">O'chirish</th>
                      </tr>
                    </thead>
                  {% csrf_token %}
                    <tbody>
                        {% for order in orders %}
                            <tr class="text-center">
                                <td class="text-center"><a href="#"><img src="/{{ order.product.foto }}" style="width: 100%" alt="Product"></a></td>
                                <td class="text-center"><p class="product-name"><a href="#"> {{ order.product.name }} </a></p></td>
                                <td class="qty">
                                    <input class="form-control input-sm product_amount" type="number" name="product_amount" value="{{ order.product_amount }}" order-id="{{ order.id }}" id="product_amount" min="1">
                                </td>
                                <td class="text-center"><span class="text-danger">{{ order.product.cost_sell|intcomma }} so'm</span></td>
                                <td class="text-center"><span>{{ order.product.cost_discount|intcomma }} so'm</span></td>
                                <td style="width: 10%" ><a href="{% url 'delete_product_from_store' id=order.product.id %}"><i class="fa fa-trash-o"></i></a></td>
                          </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <td ></td>
                        <td ></td>
                        <td colspan="3" style="font-size: 15px;font-weight: bold"><strong>Umimiy qiymati:</strong></td>
                        <td colspan="2" style="font-size: 15px;font-weight: bold"><strong>{{ cost|intcomma }} so'm</strong></td>
                      </tr>
                    </tfoot>
                  </table>
                  <div class="cart_navigation">
                    <button class="pull-right btn-primary btn-lg" style="width: 20%"><a style="color: whitesmoke" href="{% url 'order_page' %}">Sotib olish</a></button>
                  </div>
                </div>
              </div>
            </div>
        </section>



      </div>
    </div>
  </div>

    <br>
  <!--End main-container --> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).on('change',".product_amount",function(){
            var data = new FormData();
            data.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
            data.append("order_id", $(this).attr('order-id'));
            var id = $(this).attr('order-id');
            data.append("product_amount", $(this).val());
            event.preventDefault();
                  $.ajax({
                  type: 'POST',
                  url: '{% url 'change_product_amount' %}',
                  data: data,
                  cache: false,
                  contentType: false,
                  processData: false,
                  success: function (result){
                        location.replace('/order_store');
                  },

                  error: function(){
                        alert('Ajax da xatolik !! ');
                     }
            });
        });

    </script>
{% endblock content %}