{% extends 'index/master.html' %}
{% load static %}
{% load i18n %}
{% block title %} Ko'rish{% endblock %}
{#{% block title %} Янги Шартномалар {% endblock %}#}
{% block stylecontent %}


{% endblock stylecontent %}

{% block content%}

  
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a href="{% url 'index' %}" title="Go to Home Page">Bosh sahifa</a> <span>/</span> </li>
{#            <li> <a href="shop_grid.html" title="">{{ product.category }}</a> <span>/ </span> </li>#}
            <li> <a href="{% url 'show_set_product' id=collection.id %}" title="">{{ collection.name}}</a> <span></span> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  
  <!-- Main Container -->
  <section class="main-container col1-layout">
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-main">
            <div class="product-view">
              <div class="product-essential">
                <form action="#" method="post" id="product">
                  <div class="product-img-box col-lg-5 col-sm-6 col-xs-12">
                    <div class="new-label new-top-left"> New </div>
                    <div class="product-image">
                      <div class="product-full"> <img id="product-zoom" src="/{{ collection.foto }}" data-zoom-image="/{{ collection.foto }}" style="height: 400px" alt="product-image"/> </div>
                      <div class="more-views">
                        <div class="slider-items-products">
                          <div id="gallery_01" class="product-flexslider hidden-buttons product-img-thumb">
                            <div class="slider-items slider-width-col4 block-content">
                                <div class="more-views-items"> <a href="#" data-image="/{{ collection.foto }}" data-zoom-image="/{{ collection.foto }}"> <img id="product-zoom"  src="/{{ collection.foto }}" style="height: 150px" alt="product-image"/> </a></div>
                                {% for product in products %}
                                    <div class="more-views-items"> <a href="#" data-image="/{{ product.product.foto }}" data-zoom-image="/{{ product.product.foto }}"> <img id="product-zoom"  src="/{{ product.product.foto }}" style="height: 150px" alt="product-image"/> </a></div>
                                {% endfor %}
                                
                               </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end: more-images --> 
                  </div>
                  <div class="product-shop col-lg-7 col-sm-6 col-xs-12">
                    <div class="product-name">
                      <h1>{{ collection.name }}</h1>
                    </div>
                    <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                      <p class="rating-links"> <a href="#">4 Review(s)</a> <span class="separator">|</span> <a href="#"><i class="fa fa-pencil"></i> write a review</a> </p>
                    </div>
                    <div class="price-block">
                      <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> {{ collection.cost_sell }} so'm</span> </p>
                            <p class="special-price " > <span class="price-label">Special Price</span> <span id="product-price-48" class="price" style="color:red"> {{collection.cost_discount}} so'm</span> </p>
                      </div>
                    </div>

                    <div class="short-description">
                        <h2>Quick Overview</h2>
                        <p> {{ collection.description|safe|striptags }} </p>
                    </div>

                     <div class="add-to-box">
                        <div class="add-to-cart">
                          <div class="pull-left">
                            <div class="custom pull-left">
                              <label>Soni :</label>
                              <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) result.value--;return false;" class="reduced items-count" type="button"><i class="fa fa-minus">&nbsp;</i></button>
                              <input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
                              <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="fa fa-plus">&nbsp;</i></button>
                            </div>
                          </div>
                                    <button class="button btn-cart set-add-to-card" set-id="{{ collection.id }}" type="button" data-original-title="Add to Cart"><span>Savatga qo'shish</span> </button>
                        </div>

                        <div class="email-addto-box">
                          <ul class="add-to-links">
                            <li> <a class="link-wishlist" href="#"><span>Sevimlilarga qo'shish</span></a></li>
                          </ul>
                        </div>

                      </div>
                    </div>
                    <div class="form-share">
                      <div class="sendtofriend-print"> <a href="javascript:print();"><i class="fa fa-print"></i> Chop etish</a> </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
          <div class="product-collateral col-lg-12 col-sm-12 col-xs-12">
            <div class="add_info">
              <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> To'plam elementlari </a> </li>
                <li><a href="#product_tabs_tags" data-toggle="tab">Ma'lumotlar</a></li>
              </ul>
              <div id="productTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="product_tabs_description">

                    <table id="example" class="table table-hover table-bordered text-center ">
                <thead class="bg-secondary"  style="background-color: #b1bbc4">
                  <tr class="text-light" >
                    <th style="text-align: center">#</th>
                    <th style="text-align: center">Mahsulot nomi</th>
                    <th style="text-align: center">Categoriyasi</th>
                    <th style="text-align: center">Firmasi</th>
                    <th style="text-align: center">Soni</th>
                    <th style="text-align: center">Rasmi</th>
                  </tr>
                </thead>
                <tbody>

                {% for product in products %}
                        <tr>
                            <td style="width: 1%"><i>{{ forloop.counter }}</i></td>
                            <td><i>{{ product.product.name }}</i></td>
                            <td><i>{{ product.product.category.name }}</i></td>
                            <td><i>{{ product.product.company }}</i></td>
                            <td><i>{{ product.product_amount }}</i></td>
                            <td style="width: 15%"><img src="/{{ product.product.foto }}" style="width: 30%" alt=""></td>

                          </tr>
                {% endfor %}

                </tbody>
                <tfoot class="bg-secondary" style="background-color: #b1bbc4">
                  <tr class="text-light">
                    <th style="text-align: center">#</th>
                    <th style="text-align: center">Mahsulot nomi</th>
                    <th style="text-align: center">Categoriyasi</th>
                    <th style="text-align: center">Firmasi</th>
                    <th style="text-align: center">Soni</th>

                    <th style="text-align: center">Rasmi</th>
                  </tr>
                </tfoot>
              </table>
                </div>
                <div class="tab-pane fade" id="product_tabs_tags">
                  <div class="box-collateral box-tags">
                    <div class="tags">
                         <div class="std">
                            <p>{{ collection.description|safe }}</p>
                        </div>
                    </div>
                    <!--tags-->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Main Container End --> 
  
  <!-- Related Products Slider -->
  
  <div class="container">
    <div class="related-section">
      <div class="slider-items-products">
        <div class="related-block">
          <div class="jtv-block-inner">
            <div class="block-title">
              <h2>O'xshash  mahsulotlar</h2>
            </div>
          </div>
          <div id="related-products-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4 products-grid block-content">
{#                {{ collections }}asds <h2>sasa</h2>#}
                {% for collection1 in collections %}
                    <div class="item">
                        <div class="item-inner">
                          <div class="item-img">
                            <div class="item-img-info">
                                <a class="product-image" title="Product Title Here" ref="single_product.html">
                                    <img alt="Product Title Here" style="height: 250px" src="/{{ collection1.foto }}">
                                </a>
                              <div class="jtv-box-hover">
                                <ul class="add-to-links">
                                  <li><a class="link-quickview" href="#"><i class="icon-magnifier-add icons"></i><span class="hidden">Quick View</span></a></li>
                                  <li><a class="link-wishlist" href="#"><i class="icon-heart icons"></i><span class="hidden">Wishlist</span></a></li>
                                    <li><a class="link-compare" href="{% url 'show_set_product' id=collection.id %}"><i class="fa fa-eye"></i><span class="hidden">Compare</span></a></li>

                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="item-info">
                            <div class="info-inner">
                              <div class="item-title"> <a title="Product Title Here" ref="single_product.html"> {{ collection1.name }} </a> </div>
                              <div class="item-content">
                                <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                  <span class="regular-price">
                                        <b>To'plam mahsulotlari soni
                                            {% if collection1.amount != 0 %}
                                                <span class="price">{{ collection1.amount }} </span>
                                            {% else %}
                                                <span class="price">{{ collection1.amount }} </span>
                                            {% endif %}
                                            ta
                                        </b>

                                    </span>
                                  <div class="price-box">
                                    <p class="old-price"> <span class="price-label"></span> <span class="price"> {{collection1.cost_sell}} so'm</span> </p>
                                    <p class="special-price"> <span class="price-label"></span> <span class="price"> {{collection1.cost_discount}} so'm</span> </p>

                                </div>
                                <div class="action">
                                    <button class="button btn-cart set-add-to-card" set-id="{{ collection.id }}" type="button" data-original-title="Add to Cart"><span>Savatga qo'shish</span> </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Related Products Slider End --> 
  




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script>
        $(document).on('click',".set-add-to-card",function(){
            var data = new FormData();
            data.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
            data.append("id", $(this).attr('set-id'));
            event.preventDefault();
                  $.ajax({
                  type: 'POST',
                  url: '{% url 'set_add_to_card' %}',
                  data: data,
                  cache: false,
                  contentType: false,
                  processData: false,
                  success: function (result){
                  console.log(result);
                  if(result == 2){
                    $('#alert_check_message').css('display','inline-block');
                  }
                  else{
                       $('#alert_save_message').css('display','inline-block');
{#                      console.log(result['product']);#}
                      text = ``;
{#                        for (let i = 0; i < result['orders'].length; i++) {#}
                            text += `<li class="item first">`;
                                          text += `<div class="item-inner"> <a class="product-image" title="Product Title Here" ref="#">`;
                                                text += `<img alt="Product Title Here" src="/`+result['product'][0].foto+`"> </a>`;
                                                text += `<div class="product-details"><div class="access">`;
                                                    text += `<a class="jtv-btn-remove" title="Remove This Item" href="#">Remove</a> <a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a> </div>`;
                                                    text += `<p class="product-name"><a href="#">`+result['product'][0].name+`</a> </p>`;
                                                    text += `<strong>1</strong> x <span class="price product_price" product-price="`+result['product'][0].cost_discount+`">`+result['product'][0].cost_discount+`</span> </div></div></li>`;


                            $('#cart-sidebar').append(text);
{#                        }#}

                      setTimeout(function () {
                            $('#alert_save_message').css('display','none');
                         }, 3000);

                      }

                      $('.cart_count').html(result['count']);
                      $('.order_prize').html(result['cost']);
                        setTimeout(function () {
                            $('#alert_check_message').css('display','none');
                         }, 3000);
                  },

                  error: function(){
                        alert('Ajax da xatolik !! ');
                     }
            });
        });

    </script>

{% endblock %} {% block scriptcontent %}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    $("#example").DataTable();
  });
</script>



    <script>
        CKEDITOR.replace('info');
    </script>

{% endblock scriptcontent %}